In [5]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.3.2)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the '/usr/local/bin/python3.8 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import re
import os

In [86]:
df = pd.read_csv('voca_result.csv')
df

,|,experimentType,round,round0__answers__answer,round0__answers__myanswer,round1__answers__answer,round1__answers__myanswer,round2__answers__answer,round2__answers__myanswer
0,강동옥,1.0,0.0,Bonjour,Bonjour,Merci,Mersi,métro,métro
1,NaN,NaN,NaN,Oui,Oui,Bonsoir,Bonsoir,thé,téa
2,NaN,NaN,NaN,NaN,NaN,Non,Non,téléphone,teléphone
3,NaN,NaN,NaN,NaN,NaN,Café,Café,toilette,toilette
4,NaN,NaN,NaN,NaN,NaN,Entrée,Entrée,taxi,texi
...,...,...,...,...,...,...,...,...,...
1375,NaN,NaN,NaN,NaN,NaN,Sortie,Sortie,Excusez-moi,Excusez-moi
1376,NaN,NaN,NaN,NaN,NaN,Université,Université,bonheur,bonheur
1377,NaN,NaN,NaN,NaN,NaN,chaise,chaise,auteur,auteur
1378,NaN,NaN,NaN,NaN,NaN,S'il vous plaît,S'il vous plaît,ail,ail
1379,NaN,NaN,NaN,NaN,NaN,maison,maison,saison,saison

In [89]:
df.loc[:, ['round1__answers__answer', 'round1__answers__myanswer', 'round2__answers__answer', 'round2__answers__myanswer', 'round1__outcome', 'round2__outcome']]

,round1__answers__answer,round1__answers__myanswer,round2__answers__answer,round2__answers__myanswer,round1__outcome,round2__outcome
0,Merci,Mersi,métro,métro,0,0
1,Bonsoir,Bonsoir,thé,téa,0,0
2,Non,Non,téléphone,teléphone,0,0
3,Café,Café,toilette,toilette,0,0
4,Entrée,Entrée,taxi,texi,0,0
...,...,...,...,...,...,...
1375,Sortie,Sortie,Excusez-moi,Excusez-moi,0,0
1376,Université,Université,bonheur,bonheur,0,0
1377,chaise,chaise,auteur,auteur,0,0
1378,S'il vous plaît,S'il vous plaît,ail,ail,0,0
1379,maison,maison,saison,saison,0,0

In [88]:
# 새로운 열 만들기 (result)
df['round1__outcome'] = 0
df['round2__outcome'] = 0

In [91]:
for i in range(0, 1380):
    if df['round1__answers__myanswer'][i] == df['round1__answers__answer'][i]:
        df['round1__outcome'][i] = 1
    else:
        df['round1__outcome'][i] = 0


df.loc[:30, ['round1__answers__answer', 'round1__answers__myanswer', 'round1__outcome', 'round2__outcome']]

<ipython-input-91-bad73c0a8f26>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['round1__outcome'][i] = 0
<ipython-input-91-bad73c0a8f26>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['round1__outcome'][i] = 1

,round1__answers__answer,round1__answers__myanswer,round1__outcome,round2__outcome
0,Merci,Mersi,0,0
1,Bonsoir,Bonsoir,1,0
2,Non,Non,1,0
3,Café,Café,1,0
4,Entrée,Entrée,1,0
5,Sortie,Sortié,0,0
6,Université,Université,1,0
7,chaise,chaire,0,0
8,S'il vous plaît,S'il vous plaît,1,0
9,maison,maison,1,0
10,Merci,Merci,1,0
11,Bonsoir,Bonjour,0,0
12,Non,Non,1,0
13,Café,Café,1,0
14,Entrée,Entrée,1,0
15,Sortie,Sortie,1,0
16,Université,Universitée,0,0
17,chaise,chaire,0,0
18,S'il vous plaît,Enchanté,0,0
19,maison,maison,1,0
20,Merci,Merci,1,0
21,Bonsoir,Bonsoir,1,0
22,Non,Non,1,0
23,Café,Café,1,0
24,Entrée,Entrée,1,0
25,Sortie,Sortie,1,0
26,Université,Université,1,0
27,chaise,chaise,1,0
28,S'il vous plaît,S'il vous plaît,1,0
29,maison,mason,0,0
30,Merci,Merci,1,0

In [93]:
for i in range(0, 1380):
    if df['round2__answers__myanswer'][i] == df['round2__answers__answer'][i]:
        df['round2__outcome'][i] = 1
    else:
        df['round2__outcome'][i] = 0

df.loc[:30, ['round1__answers__answer', 'round1__answers__myanswer', 'round1__outcome', 'round2__outcome']]

<ipython-input-93-6b36a129d0ce>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['round2__outcome'][i] = 1
<ipython-input-93-6b36a129d0ce>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['round2__outcome'][i] = 0

,round1__answers__answer,round1__answers__myanswer,round1__outcome,round2__outcome
0,Merci,Mersi,0,1
1,Bonsoir,Bonsoir,1,0
2,Non,Non,1,0
3,Café,Café,1,1
4,Entrée,Entrée,1,0
5,Sortie,Sortié,0,0
6,Université,Université,1,0
7,chaise,chaire,0,0
8,S'il vous plaît,S'il vous plaît,1,0
9,maison,maison,1,1
10,Merci,Merci,1,1
11,Bonsoir,Bonjour,0,0
12,Non,Non,1,0
13,Café,Café,1,1
14,Entrée,Entrée,1,0
15,Sortie,Sortie,1,1
16,Université,Universitée,0,1
17,chaise,chaire,0,0
18,S'il vous plaît,Enchanté,0,0
19,maison,maison,1,1
20,Merci,Merci,1,1
21,Bonsoir,Bonsoir,1,1
22,Non,Non,1,0
23,Café,Café,1,1
24,Entrée,Entrée,1,1
25,Sortie,Sortie,1,1
26,Université,Université,1,1
27,chaise,chaise,1,1
28,S'il vous plaît,S'il vous plaît,1,1
29,maison,mason,0,1
30,Merci,Merci,1,1

In [94]:
df

,|,experimentType,round,round0__answers__answer,round0__answers__myanswer,round1__answers__answer,round1__answers__myanswer,round2__answers__answer,round2__answers__myanswer,round1__outcome,round2__outcome
0,강동옥,1.0,0.0,Bonjour,Bonjour,Merci,Mersi,métro,métro,0,1
1,NaN,NaN,NaN,Oui,Oui,Bonsoir,Bonsoir,thé,téa,1,0
2,NaN,NaN,NaN,NaN,NaN,Non,Non,téléphone,teléphone,1,0
3,NaN,NaN,NaN,NaN,NaN,Café,Café,toilette,toilette,1,1
4,NaN,NaN,NaN,NaN,NaN,Entrée,Entrée,taxi,texi,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1375,NaN,NaN,NaN,NaN,NaN,Sortie,Sortie,Excusez-moi,Excusez-moi,1,1
1376,NaN,NaN,NaN,NaN,NaN,Université,Université,bonheur,bonheur,1,1
1377,NaN,NaN,NaN,NaN,NaN,chaise,chaise,auteur,auteur,1,1
1378,NaN,NaN,NaN,NaN,NaN,S'il vous plaît,S'il vous plaît,ail,ail,1,1
1379,NaN,NaN,NaN,NaN,NaN,maison,maison,saison,saison,1,1

In [96]:
df.to_csv('result_voca.csv', header=False, index=False)